# Ambientes virtuais
.venv/
venv/
env/
ENV/

# PyInstaller
build/
dist/

# Arquivos Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Arquivos
.idea/
.vscode/
*.csv
*.xlsx
*.ods
*.docx
*.pdf
*.png
*.db
*.sqlite
*.DS_Store

# Arquivos com credenciais
senha.py
credentials.json
token.json
senha_email.py
chaves_binance.py
chave.py
